{
  "$schema": "https://swc.rs/schema.json",
  "module": {
    "type": "commonjs"
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
    },
    "baseUrl": ".",
    "externalHelpers": true
  }
}
